:root{
    --color1: #5d5c61;
    --color2: #918F92;
    --color3: #7395ae;
    --color4: #557a95;
    --color5: #4F709C;
}
a{
    text-decoration: none;
}
.products{
    background-color: #4F709C;
}
.start-cover{
    background: 
        linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url("../../assets/pictures/background-image.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    
    min-height: 720px;
    display: flex;
    align-items: center;
}
.start-cover img{
    width: 75%;
}
.key-activities{
    width: 100%;
    padding: 20px;
}
.key-activities h5{
    margin-right: 10%;
    margin-left: 10%;
}

@media (max-width: 1000px) {
    .start-cover .col-5, .start-cover .col-4{
        text-align: center;
        width: 75%;
    }
    .products .col-4{
        width: 100%;
        margin-bottom: 2%;
    }
    .products .card{
        min-height: 100px;
    }
}

@media (max-width: 1200px) {
    .key-activities .col-7, .key-activities .col-5{
        width:100%;
        margin-bottom: 30px;
    }
}

@media (max-width: 800px) {
    .key-activities h5{
        text-align: center;
        text-indent: 0px;
        margin: 2%;
    }
}
@media (max-width: 500px) {
    .key-activities img{
        width:100%;
    }

}
