
body{
    background-color: #557a95;
    padding: 3%;
}

.feature{
    background-color: aliceblue;
    padding: 3%;
}
.pin-img{
    width: 50px;
    height: 50px;
}
.feature-img{
    width: 80px;
    height: 80px;
}

i.check {
    display: inline-block;
    width: 8px;
    height: 15px;
    margin: -3px 10px 3px;
    border: solid black;
    border-width: 0 3px 3px 0;
    transform: rotate( 45deg);
}

@media (max-width: 1000px) {
    body{
        padding: 0%;
    }
    .col-6, .col-4{
        width: 100%;
    }
}
