<body>
  <section id="primary">
    <div class="card">
      <p class="fs-2 text-center my-2">Веб-приложение Geosystem</p>
      <p>
        <img
          class="w-100"
          src="../../../assets/pictures/web-app1.jpg"
          alt="orto photo plane"
          height="240"
        />
      </p>
      <div class="container px-5 text-center">
        <h4>
          Веб-приложение Geosystem - это платформа для активных граждан, 
          готовых обеспечивать актуальной информацией о состоянии дорожного
          покрытия федеральные, муниципальные и частные службы, занимающихся
          мониторингом и обслуживанием дорожного полотна
        </h4>
      </div>
      <hr class="w-100">
      <div class="card-body ml-5">
        <h3 class="text-center">Ключевые возможности</h3>
        <div class="container my-5 h-100">
          <div class="row fs-5">
            <div class="col-6 d-flex align-items-center">
              <p><img src="../../../assets/pictures/pin.png" alt=" - "
                class="pin-img me-3"></p>
              <p>Фотографирование дорожных дефектов</p>
            </div>
            <div class="col-6 d-flex align-items-center">
              <p><img src="../../../assets/pictures/pin.png" alt=" - "
                class="pin-img me-3"></p>
              <p>Получение бонусов за верифицированые фотографии</p>
            </div>
            <div class="col-6 d-flex align-items-center">
              <p><img src="../../../assets/pictures/pin.png" alt=" - "
                class="pin-img me-3"></p>
              <p>Просмотр карты с размеченными дефектами в доступных районах</p>
            </div>
            <div class="col-6 d-flex align-items-center">
              <p><img src="../../../assets/pictures/pin.png" alt=" - "
                class="pin-img me-3"></p>
              <p>Построение безопасного маршрута в обход опасных участков</p>
            </div>
          </div>
        </div>
      </div>
      <hr class="w-100">
      <div class="card-body">
        <h3 class="mb-5 text-center">Преимущества</h3>
        <div class="row mx-4 justify-content-center">
          <div class="col-4 d-flex align-items-center justify-content-center">
            <p><img src="../../../assets/pictures/ai.png" class="feature-img me-3"/></p>
            <p class="lead">Автоматическая проверка изображений
              с помощью технологии компьютерного зрения
            </p>
          </div>
          <div class="col-4 d-flex align-items-center justify-content-center">
            <p><img src="../../../assets/pictures/map.png" class="feature-img me-3"/></p>
            <p class="lead">Построение подробной графической карты 
              с размеченными дорожными дефектами
            </p>
          </div>
          <div class="col-4 d-flex align-items-center justify-content-center">
            <p><img src="../../../assets/pictures/destination.png" class="feature-img me-3"/></p>
            <p class="lead">Возможность построения безопасного маршрута
              в зависимости от состояния автодороги
            </p>
          </div>
        </div>
      </div>
      <hr class="w-100">
      <div class="card-body ml-5">
        <h3 class="mb-5 text-center">Результаты опроса гражданских лиц</h3>
        <div class="row mx-3 justify-content-center">
          <div class="col text-center">
            <img src="../../../assets/pictures/question-1.png" alt=" - ">
          </div>
          <div class="col text-center">
            <img src="../../../assets/pictures/question-2.png" alt=" - ">
          </div>
          <div class="w-100 my-3"></div>
          <div class="col text-center">
            <img src="../../../assets/pictures/question-3.png" alt=" - ">
          </div>
          <div class="col text-center">
            <img src="../../../assets/pictures/question-4.png" alt=" - ">
          </div>
        </div>
      </div>
      <hr class="w-100">
    
      <div class="card-body">
        <div class="container text-center w-75">
          <h3>Ценовая политика</h3>
          <p class="fs-5 text-light-secondary">
            Подписки приобретаются за внутренную валюту - бонусы,
            которые можно получить за верифицированную фотографию ямы или
            за покупку их в веб-приложении
          </p>
        </div>
        <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
          <div class="col">
            <div class="card mb-4 rounded-3 shadow-sm">
              <div class="card-header py-3">
                <h4 class="my-0 fw-normal">Бесплатная</h4>
              </div>
              <div class="card-body">
                <h1 class="card-title pricing-card-title">
                  0 Б<small class="text-muted fw-light"> /месяц</small>
                </h1>
                <button
                  disabled
                  type="button"
                  class="w-100 btn btn-lg btn-primary">
                  Перейти в приложение
                </button>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card mb-4 rounded-3 shadow-sm">
              <div class="card-header py-3">
                <h4 class="my-0 fw-normal">Про</h4>
              </div>
              <div class="card-body">
                <h1 class="card-title pricing-card-title">
                  100 Б<small class="text-muted fw-light">
                    /месяц</small
                  >
                </h1>
                <button
                  disabled
                  type="button"
                  class="w-100 btn btn-lg btn-primary">
                  Перейти в приложение
                </button>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card mb-4 rounded-3 shadow-sm">
              <div class="card-header py-3">
                <h4 class="my-0 fw-normal">Бизнес</h4>
              </div>
              <div class="card-body">
                <h1 class="card-title pricing-card-title">
                  300 Б<small class="text-muted fw-light">
                    /месяц</small
                  >
                </h1>
                <button
                  disabled
                  type="button"
                  class="w-100 btn btn-lg btn-primary">
                  Перейти в приложение
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="container my-0">
          <h3 class="text-center mb-4">Сравнение планов</h3>
          <div class="table-responsive">
            <table class="table text-center table-info">
              <thead>
                <tr>
                  <th style="width: 34%"></th>
                  <th style="width: 22%">FREE</th>
                  <th style="width: 22%">VIP</th>
                  <th style="width: 22%">PREMIUM</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row" 
                  class="text-start">
                  Фотографирование дорожных дефектов и получение бонусов</th>
                  <td><i class="check"></i></td>
                  <td><i class="check"></i></td>
                  <td><i class="check"></i></td>
                </tr>
                <tr>
                  <th scope="row" 
                  class="text-start">
                  Покупка доступа к районам за бонусы</th>
                  <td><i class="check"></i></td>
                  <td><i class="check"></i></td>
                  <td><i class="check"></i></td>
                </tr>
              </tbody>
                <tbody>
                <tr>
                  <th scope="row" 
                  class="text-start">
                  Просмотр изображений дефектов</th>
                  <td></td>
                  <td><i class="check"></i></td>
                  <td><i class="check"></i></td>
                </tr>
                <tr>
                  <th scope="row" 
                  class="text-start">
                  Получение бонусов в двойном размере</th>
                  <td></td>
                  <td><i class="check"></i></td>
                  <td><i class="check"></i></td>
                </tr>
                <tr>
                  <th scope="row" class="text-start">
                    Доступ к просмотру дефектов во всем городе
                  </th>
                  <td></td>
                  <td></td>
                  <td><i class="check"></i></td>
                </tr>
                <tr>
                  <th scope="row" class="text-start">Интеграция алгоритма построения
                    безопасных маршрутов в GPS навигатор</th>
                  <td></td>
                  <td></td>
                  <td><i class="check"></i></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </section>
</body>
