<footer id="footer" class="pt-5 pb-4">
    <div class="container text-center text-md-left">
      <div class="row text-center text-md-left">
        <div class="mx-auto">
          <h5 class="text-uppercase mb-4 font-weight-bold text-purple">
            Связаться с нами
          </h5>
          <p>
            <i class="fa fa-home mr-3"></i
            ><strong> Saint Petersburg, RU</strong>
          </p>
          <p>
            <i class="fa fa-envelope mx-1"></i>
            <a href="mailto: lnpt@guap.ru"
              ><strong>lnpt@guap.ru</strong></a
            >
          </p>
          <a href="https://t.me/SergeyBabchinetskii"><strong>Telegram</strong></a>
        </div>

        <hr class="my-4"/>

        <div class="row align-items-center">
          <div class="text-center">
            <p>
              Designed by:
              <a href="https://vk.com/shurickgat">
                <strong class="text-purple">Gataulin Alexandr</strong>
              </a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </footer>