<body>
    <div class="container p-4">
        <ul class="list-group list-group-flush my-2">
            <li class="list-group-item text-center">
                <img src="../../../assets/pictures/icon_auth.png"
                width="25%"
                height="25%">
            </li>
            <li class="list-group-item"></li>
            <li class="list-group-item"></li>
            <li class="list-group-item"></li>
        </ul>
        <button
        class="btn btn-outline-primary w-100 my-2">
        Редактировать профиль</button>
        <button
        class="btn btn-outline-success w-100 my-2">
        Перейти в приложение</button>
    </div>        
</body>
