<div class="authAdmin">
    <form [formGroup]="form" (ngSubmit)="OnSubmit()">
        <p>
            <mat-form-field appearance="outline">
                <mat-label>Логин</mat-label>
                <input matInput formControlName="login">
                <mat-hint class="error-text"
                *ngIf="form.get('login').invalid && form.get('login').touched">
                Поле не может быть пустым</mat-hint>
            </mat-form-field>
        </p>
        <p>
            <mat-form-field appearance="outline">
                <mat-label>Пароль</mat-label>
                <input matInput formControlName="password">
                <mat-hint class="error-text"
                *ngIf="form.get('password').invalid && form.get('password').touched">
                    <mat-hint *ngIf="form.get('password').errors['minlength']">Пароль должен быть больше 8 символов</mat-hint>
                    <mat-hint *ngIf="form.get('password').errors['required']">Поле не может быть пустым</mat-hint>
                </mat-hint>
            </mat-form-field>
        </p>
        <button type="submit" mat-raised-button color="primary" 
        [disabled]="form.get('password').invalid || form.get('login').invalid">
        Войти в панель админа</button>
        <span class="error-text" *ngIf="authError">Неправильно введен логин или пароль</span>
    </form>
</div>