/* You can add global styles to this file, and also import other style files */
@import '../node_modules/bootstrap/dist/css/bootstrap.min.css';
@import '../node_modules/leaflet/dist/leaflet.css';

html, body{
    height: 100%;
    overflow: auto;
}

:root{
    --gray-light: rgb(68, 66, 68);
    --gray-dark: rgb(48, 46, 48);
    --white-contour: rgb(250, 250, 250);
}

@font-face {
	font-family: 'Rostov';
	src: url('./assets/fonts/Rostov/Rostov.eot');
	src: local('./assets/fonts/Rostov'),
		url('./assets/fonts/Rostov/Rostov.eot?#iefix') format('embedded-opentype'),
		url('./assets/fonts/Rostov/Rostov.woff') format('woff'),
		url('./assets/fonts/Rostov/Rostov.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
    font-family: 'Railway'; /* Имя шрифта, которое вы будете использовать */
    src: url('./assets/fonts/Railway/Railway.otf') format('opentype'); /* Путь к файлу шрифта */
}