/* You can add global styles to this file, and also import other style files */
@import '../node_modules/bootstrap/dist/css/bootstrap.min.css';
@import '../node_modules/leaflet/dist/leaflet.css';

html, body{
    height: 100%;
}

:root{
    --gray-light: rgb(68, 66, 68);
    --gray-dark: rgb(48, 46, 48);
    --white-contour: rgb(250, 250, 250);
}