<div class="formArea">

    <div class="container">
        <div class="row mb-3 fs-3 text-center"><span>Регистрация</span></div>
        <div class="row text-center justify-content-around">
            <div class="col">
                <input class="form-check-input me-2" name="isFiz" type="radio" id="isFiz"
                [value]="true"
                [(ngModel)]="isFiz">
                <label class="form-check-label" for="isFiz">Физическое лицо</label>
            </div>
            <div class="col">
                <input class="form-check-input me-2" type="radio" name="isFiz" id="isEnterprise"
                [value]="false"
                [(ngModel)]="isFiz">
                <label for="isFiz" class="form-check-label">Юридическое лицо</label>
            </div>
        </div>

      <app-fizik-form *ngIf="isFiz" (submitForm)="OnSubmit($event)"></app-fizik-form>
      <app-enterprise-form *ngIf="!isFiz" (submitForm)="OnSubmit($event)"></app-enterprise-form>
      <span class="error-text">{{errorMsg}}</span>
    </div>

</div>

<app-footer></app-footer>
