body{
    background-color: #497492;
    padding: 2%;
    margin: 0%;
}

span{
    text-align: center;
}

.row{
    margin: 3px;
    margin-bottom: 3%;
}

.container{
    max-width: 80%;
    border-radius: 3%;
    padding:5%;
    background-color: aliceblue;
}

.invisible{
    display: none;
}

.invalid{
    border-color: red;
}

.error-text{
    color: red;
    font-size: small;
}

.disabledBtn{
    background-color: grey;
    border-color: grey;
}

@media (max-width: 768px) {
    .container{
        max-width: 100%;
        border-radius: 0%;
    }
    body{
        padding: 0%;
    }
}
@media (max-width: 400px) {
    .col{
        width:100%;
        margin-bottom: 3%;
    }
    .row{
        margin: 0%;
        margin-bottom: 3%;
    }
    .container{
        padding-left: 3%;
        padding-right: 3%;
    }
}