<form class="container px-0 mx-auto" [formGroup]="form" (ngSubmit)="OnSubmit()">
    <div class="row my-4 text-center">
        <span class="fs-3">Регистрация</span> 
    </div>
    
    <div class="row mb-4">
        <div class="col-4 me-auto">
            <input 
            class="form-check-input me-2"
            name="isFiz" 
            type="radio" 
            id="isFiz"
            [value]="true"
            formControlName="isFiz">
            <label class="form-check-label" for="isFiz">Физическое лицо</label>
        </div>
        <div class="col-4 ms-auto">
            <input
            class="form-check-input me-2"
            type="radio" 
            name="isFiz" 
            id="isEnterprise"
            [value]="false"
            formControlName="isFiz">
            <label for="isFiz" class="form-check-label">Юридическое лицо</label>
        </div>
    </div>
    <div class="row">
        <div *ngIf="form.value.isFiz; then a else b" class="form-label"></div>
        <ng-template #a><span for="NickOrCompany" class="form-label">Имя</span></ng-template>
        <ng-template #b><span for="NickOrCompany" class="form-label">Название компании</span></ng-template>
        <input 
        type="text" 
        class="form-control" 
        id="NickOrCompany" 
        formControlName="name"
        [ngClass]="{'invalid': form.get('name').invalid && form.get('name').touched}">
        <span 
        class="error-text"
        *ngIf="form.get('name').invalid && form.get('name').touched">
            <span *ngIf="form.get('name').errors['required']">Поле не может быть пустым</span>
        </span>
    </div>
    <div class="row my-3">
        <label for="InputEmail" class="form-label">Электронная почта</label>
        <input 
        type="text" 
        class="form-control" 
        id="InputEmail" 
        formControlName="email"
        [ngClass]="{'invalid': form.get('email').invalid && form.get('email').touched}">
        <span 
        class="error-text"
        *ngIf="form.get('email').invalid && form.get('email').touched">
            <span *ngIf="form.get('email').errors['email']">Неправильно введена элетронная почта</span>
            <span *ngIf="form.get('email').errors['required']">Поле не может быть пустым</span>
        </span>
    </div>
    <div class="row my-3">
        <label for="InputPhone" class="form-label">Номер телефона (по желанию)</label>
        <input  type="text" class="form-control" id="InputPhone" formControlName="phone">
    </div>
    <div class="row my-3">
        <div class="col ps-0">
            <label for="Input1Password" class="form-label">Введите пароль</label>
            <input  
            type="password" 
            class="form-control" 
            id="Input1Password" 
            formControlName="password1"
            [ngClass]="{'invalid': form.get('password1').invalid && form.get('password1').touched}">
            <span 
            class="error-text"
            *ngIf="form.get('password1').invalid && form.get('password1').touched">
                <span *ngIf="form.get('password1').errors['minLength']">Пароль должен быть больше 8 символов</span>
                <span *ngIf="form.get('password1').errors['required']">Поле не может быть пустым</span>
            </span>
        </div>
        <div class="col pe-0">
            <label for="Input2Password" class="form-label">Введите пароль повторно</label>
            <input  
            type="password" 
            class="form-control" 
            id="Input2Password" 
            formControlName="password2"
            [ngClass]="{'invalid': form.get('password2').invalid && form.get('password2').touched}">
            <span 
            class="error-text"
            *ngIf="form.get('password2').invalid && form.get('password2').touched">
                <span *ngIf="form.get('password1').errors['minLength']">Пароль должен быть больше 8 символов</span>
                <span *ngIf="form.get('password2').errors['required']">Поле не может быть пустым</span>
            </span>
        </div>
    </div>
    <div class="my-3 form-check w-100">
      <input type="checkbox" class="form-check-input" id="privacyPolicy" formControlName="privacyPolicy">
      <label class="form-check-label" for="privacyPolicy">Согласен с политикой конфиденциальности</label>
    </div>
    <button 
    type="submit" 
    class="btn btn-primary w-100" 
    [ngClass]="{'disabledBtn': form.invalid}">
    Зарегистрироваться</button>
</form>