body{
    background-color: #497492;
    padding: 3%;
    padding-top: 0%;
}

.container{
    max-width: 40%;
}

.invisible{
    display: none;
}

.invalid{
    border-color: red;
}

.error-text{
    color: red;
    font-size: small;
}

.disabledBtn{
    background-color: grey;
    border-color: grey;
}