<div class="canvasMediaProcess" [ngClass]="{dn: isCameraActive}">
    <div class="myContainer canvas">
        <div class="canvasElem">
            <h4>Ваше фото</h4>
            <div #divElement [ngClass]="{canvasGrey: isDefaultState}">
                <img #imageBeforeElement alt="">
            </div>
        </div>
        <div class="canvasElem">
            <h4>Обработанное изображение</h4>
            <div [ngClass]="{canvasGrey: isDefaultState, canvasError: isFilesError}">
                <img #imageAfterElement>
                <p class="errorInfo">{{errorText}}</p>
            </div>
        </div>
    </div>
    <div class="myContainer">
        <div class="buttons">
            <button 
            [disabled]="!isDefaultState"
            (click)="!isDefaultState ? null : toggleCamera()"
            type="button">Сделать снимок</button>
        </div>
        <div class="buttons">
            <button 
            (click)="resetCanvas()"
            type="button">Сбросить изображения</button>
        </div>
    </div>
</div>
<div class="video-container" [ngClass]="{dn: !isCameraActive}">
    <video #videoElement [hidden]="!isCameraActive" autoplay></video>
    <div class="overlay" *ngIf="isCameraActive">
        <button #btnToggle 
        class="btn-toggle"  
        (click)="toggleCamera()"></button>
        <button #btnFrame
        [disabled]="!isCameraActive" 
        class="btn-frame" 
        (click)="takeFrame()"></button>
    </div>
</div>
