<head>
    <script
        src="https://kit.fontawesome.com/d61dc76de9.js"
        crossorigin="anonymous"
      ></script>
      <link
        rel="stylesheet"
        type="text/css"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
      />
</head>

<body>
    <div class="card p-0 m-0">
        <div class="row h-100 p-0 m-0">
            <div class="col-3 p-0">
                <div class="list-group">
                    <div class="list-group-item"><a routerLink="/webapp/home-app">Профиль</a></div>
                    <div class="list-group-item"><a routerLink="/webapp/map-page">Карта</a></div>
                    <div class="list-group-item"><a routerLink="/webapp/process-media-page">Фото</a></div>
                    <div class="list-group-item disabled"><a >Обучение</a></div>
                    <div class="list-group-item disabled"><a >Магазин</a></div>
                    <div class="list-group-item mt-auto"><a routerLink="">Выйти</a></div>
                </div>
            </div>
            <div class="col-9 p-0"><router-outlet></router-outlet></div>
        </div>
    </div>
</body>

