body{
    padding: 3%;
    padding-left: 20%;
    padding-right: 20%;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), 
        url(../../../../assets/pictures/map-back.jpg) no-repeat;
    background-size: cover;
}

.card{
    height: 100%;
}

.list-group .list-group-item{
    background-color: #111;
}

.list-group {
    height: 100%;
    width:100%;
    background-color: #111;
}

.list-group a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
}

.list-group a:hover {
    color: #f1f1f1;
}
