body{
    padding: 5%;
    padding-left: 20%;
    padding-right: 20%;
    background-image: 
        linear-gradient( rgba(0,0,0,.7), rgba(0,0,0,.7)),
        url('../../../../assets/pictures/googleMapBack.jpg');
    background-size: cover;
}

.sidenav {
    height: 100%;
    width: 20%;
    background-color: #111;
    padding-top: 20px;
}

.sidenav a {
    padding: 15px 8px 15px 15px;
    text-decoration: none;
    font-size: 25px;
    color: #b8b1cc;
    display: block;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.main { /* Same as the width of the sidenav */
    padding: 10px;
}