<head>
    <script
        src="https://kit.fontawesome.com/d61dc76de9.js"
        crossorigin="anonymous"
      ></script>
      <link
        rel="stylesheet"
        type="text/css"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
      />
</head>

<body>
    <div class="offcanvas offcanvas-start show" tabindex="-1" id="offcanvas" aria-labelledby="offcanvasLabel">
        <div class="offcanvas-header">
          <h5 class="offcanvas-title ms-2" id="offcanvasLabel" >Меню</h5>
        </div>
        <div class="offcanvas-body p-0">
            <div class="container-fluid">
                <div class="row">
                    <div class="col px-0 bg-dark">
                        <ul class="nav flex-column mb-sm-auto" id="menu">
                            <li class="nav-item">
                                <a href="#" class="nav-link px-0 mb-2">
                                    <span class="ms-2">Профиль</span>
                                </a>
                            </li>
                            <li>
                                <a class="nav-link px-0 mb-2">
                                    <span class="ms-2">Карта</span>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="nav-link px-0 mb-2">
                                    <span class="m-2">Подписки</span>
                                </a>
                            </li>
                            <li>
                                <a class="nav-link px-0  mb-2">
                                    <span class="ms-2">Bootstrap</span>
                                </a>
                            </li>
                            <li>
                                <a class="nav-link px-0 mb-2">
                                    <span class="ms-2">Products</span> 
                                </a>
                            </li>
                            <li>
                                <a href="#" class="nav-link px-0 mb-2">
                                    <span class="ms-2">Customers</span>
                                </a>
                            </li>
                        </ul>
                        <hr>
                    </div>
                </div>
            </div>
        </div>
      </div>
</body>

