<head>
    <script
        src="https://kit.fontawesome.com/d61dc76de9.js"
        crossorigin="anonymous"
      ></script>
      <link
        rel="stylesheet"
        type="text/css"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
      />
</head>

<body>
    <div class="card">
        <input type="checkbox" id="nav-toggle" hidden>
        <label for="nav-toggle" class="nav-toggle" onclick></label>
        <!-- <div class="navigation-app"> -->
            <ul class="navigation-app">
                <li>
                    <a routerLink="/webapp/home-app">
                    <!-- <img src="../../../../assets/icons/profile-app.png" class="icon_li"> -->
                    <span>Профиль</span>
                    </a>
                </li>
                <li>
                    <a routerLink="/webapp/map-page">
                    <!-- <img src="../../../../assets/icons/maplabel-app.png" class="icon_li"> -->
                    <span>Карта</span>
                    </a>
                </li>
                <li>
                    <a id="photoPageBtn" routerLink="/webapp/process-media-page">
                    <!-- <img src="../../../../assets/icons/camera-app.png" class="icon_li"> -->
                    <span>Фото</span>
                    </a>
                </li>
                <li class="disabled">
                    <a>
                    <!-- <img src="../../../../assets/icons/shop-app.png" class="icon_li"> -->
                    <span>Магазин</span>
                    </a>
                </li>
                <li>
                    <a routerLink="">
                    <!-- <img src="../../../../assets/icons/exit-app.png" class="icon_li"> -->
                    <span>Выйти</span>
                    </a>
                </li>
            </ul>
        <!-- </div> -->
        <div class="content"><router-outlet></router-outlet></div>
    </div>
</body>

