
  <body>
    <header class="w-100">
      <nav class="navbar navbar-expand-sm bg-light rounded-top">
        <div class="container">
          <a href="#" class="navbar-brand">
            <img
              width="60px"
              height="50px"
              class="d-inline-block align-center"
              src="../assets/pictures/logo.png"
              alt="logo"
            />
            <span><strong>Geosystem</strong></span>
          </a>
          <button
            class="navbar-toggler"
            type="button"
            data-toggler="colapse"
            data-target="#navbarNav"
            aria-controls="navbarNav"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a routerLink="" class="nav-link active">Главная</a>
              </li>
              <li class="nav-item">
                <a routerLink="about" class="nav-item nav-link active">О нас</a>
              </li>
              <li class="nav-item">
                <a routerLink="projects" class="nav-link active">Проекты</a>
              </li>
              <li class="nav-item">
                <a routerLink="products" class="nav-link active">Продукты</a>
              </li>
              <li class="nav-item">
                <a routerLink="#footer" class="nav-link active">Контакты</a>
              </li>
            </ul>
            <div class="d-flex align-items-end">
              <button id="auth" class="col">Вход</button>
              <button id="reg" class="col">Регистрация</button>
            </div>
          </div>
        </div>
      </nav>
    </header>
<router-outlet></router-outlet>