
<div class="contentMediaProcess">
    <div class="myContainer canvas">
        <div class="canvasElem"><canvas #canvBefore
        [ngClass]="{noImageBlock: !isFilesComplete}"></canvas></div>
        <div class="canvasElem"><canvas #canvAfter
        [ngClass]="{noImageBlock: !isFilesComplete}"></canvas></div>
    </div>

    <div class="myContainer buttons">
        <div class="m-3 mt-auto">
            <input 
            type="file"
            class="dn" 
            #inputFile
            (change)="onFileUpload($event)">
            <button 
                (click)="processingMedia()"
                type="button"
                class="btn btn-primary p-3">Загрузить изображение
            </button>
        </div>
        <div class="m-3 mt-auto">
            <button 
                (click)="resetCanvas()"
                type="button"
                class="btn btn-secondary p-3">Сбросить изображения
            </button>
        </div>
    </div>
</div>    
