
<div class="d-flex flex-column h-100 p-3">
    <div class="imagePut h-100">
        <div 
        [ngClass]="{noImageBlock: !isFilesComplete}" 
        class="h-100 d-inline-block text-center" 
        style="margin-right: 1%;">
            <img [src]="imageBefore" *ngIf="isFilesComplete">
            <div class="h4 mt-2 text-secondary mt-2">Изображение до обработки</div>
        </div>
        <div 
        [ngClass]="{noImageBlock: !isFilesComplete}" 
        class="h-100 d-inline-block text-center" 
        style="margin-left: 1%;">
            <img [src]="imageAfter" *ngIf="isFilesComplete">
            <div class="h4 text-secondary mt-2">Изображение после обработки</div>
        </div>
    </div>
    <div class="p-2 text-center">
        <input 
        type="file"
        class="dn" 
        #inputFile
        (change)="onFileUpload($event)"
        >
    <button 
        (click)="processingMedia()"
        type="button"
        class="btn btn-primary"
    >Загрузить изображение
    </button>
    </div>
</div>    
