<div class="canvasMediaProcess" [ngClass]="{dn: isCameraActive}">
    <div class="myContainer canvas">
        <div class="canvasElem"><canvas #canvBefore
        [ngClass]="{canvasGrey: isDefaultState, canvasError: isFilesError}"></canvas></div>
        <div class="canvasElem"><canvas #canvAfter
        [ngClass]="{canvasGrey: isDefaultState, canvasError: isFilesError}"></canvas></div>
    </div>
    <div class="myContainer buttons">
        <button 
            [disabled]="!isDefaultState"
            (click)="!isDefaultState ? null : toggleCamera()"
            type="button"
            class="btn btn-primary p-3 m-1">Сделать снимок
        </button>
        <button 
            (click)="resetCanvas()"
            type="button"
            class="btn btn-secondary p-3 m-1">Сбросить изображения
        </button>
    </div>
</div>
<div class="video-container" [ngClass]="{dn: !isCameraActive}">
    <video #videoElement [hidden]="!isCameraActive" autoplay></video>
    <div class="overlay" *ngIf="isCameraActive">
        <button #btnToggle 
        class="btn btn-toggle p-2"  
        (click)="toggleCamera()">Выйти</button>
        <button #btnFrame
        [disabled]="!isCameraActive" 
        class="btn btn-frame p-5" 
        (click)="takeFrame()"></button>
    </div>
</div>
