body{
    background-color: #497492;
    padding: 2%;
    margin: 0%;
}

span{
    text-align: center;
}

.row{
    margin: 3px;
    margin-bottom: 3%;
}

.container{
    max-width: 60%;
    border-radius: 3%;
    background-color: aliceblue;
}
.invisible{
    display: none;
}

.invalid{
    border-color: red;
}

.error-text{
    color: red;
    font-size: small;
}

.disabledBtn{
    background-color: grey;
    border-color: grey;
}