<form class="container px-0 mx-auto" [formGroup]="form" (ngSubmit)="OnSubmit()">
    <div class="row my-4 text-center">
        <span class="fs-3">Вход</span> 
    </div>
    <div class="row mb-4">
        <div class="col-4 me-auto">
            <input 
            class="form-check-input me-2"
            name="isFiz" 
            type="radio" 
            id="isFiz"
            [value]="true"
            formControlName="isFiz">
            <label class="form-check-label" for="isFiz">Физическое лицо</label>
        </div>
        <div class="col-4 ms-auto">
            <input
            class="form-check-input me-2"
            type="radio" 
            name="isFiz" 
            id="isEnterprise"
            [value]="false"
            formControlName="isFiz">
            <label for="isFiz" class="form-check-label">Юридическое лицо</label>
        </div>
    </div>
    <div *ngIf="form.value.isFiz; then a else b" class="form-label"></div>
    <ng-template #a>
        <div class="row my-3">
            <label for="InputLogin" class="form-label">Логин</label>
            <input 
            type="text" 
            class="form-control" 
            id="InputLogin" 
            formControlName="login"
            [ngClass]="{'invalid': form.get('login').invalid && form.get('login').touched}">
            <span></span>
        </div>
    </ng-template>
    <ng-template #b>
        <div class="row my-3">
            <label for="InputINN" class="form-label">ИНН организации</label>
            <input 
            type="text" 
            class="form-control" 
            id="InputINN" 
            formControlName="INN"
            [ngClass]="{'invalid': form.get('INN').invalid && form.get('INN').touched}">
            <span 
            class="error-text"
            *ngIf="form.get('INN').invalid && form.get('INN').touched">
                <span *ngIf="form.get('INN').errors['minLength']
                || form.get('INN').errors['maxLength']">Неправильно введен ИНН</span>
            </span>
        </div>
    </ng-template>
    <div class="row my-3">
        <label for="InputPassword" class="form-label">Введите пароль</label>
        <input  
        type="password" 
        class="form-control" 
        id="InputPassword" 
        formControlName="password"
        [ngClass]="{'invalid': form.get('password').invalid && form.get('password').touched}">
        <span 
        class="error-text"
        *ngIf="form.get('password').invalid && form.get('password').touched">
            <span *ngIf="form.get('password').errors['minlength']">Пароль должен быть больше 8 символов</span>
            <span *ngIf="form.get('password').errors['required']">Поле не может быть пустым</span>
        </span>
    </div>
    <button 
    type="submit" 
    class="btn btn-primary w-100" 
    [ngClass]="{'disabledBtn': form.invalid || form.disabled}">
    Войти</button>
</form>