.feature{
    background-color: aliceblue;
    padding: 3%;
}
.feature-img{
    width: 80px;
    height: 80px;
}

@media (max-width: 1000px) {
    .col-6, .col-4{
        width: 100%;
        margin-bottom: 3%;
    }
}

