/* :root{
    --color1: #5d5c61;
    --color2: #918F92;
    --color3: #7395ae;
    --color4: #557a95;
    --color5: #4F709C;
} */
a{
    text-decoration: none;
}
footer{
    padding: 100px 0;
    font-size: large;
    background-color: white;
}
footer a{
    color: black;
}
footer a:hover{
    color:#5d5c61;
}
body{
    background-color: #557a95;
    padding: 3%;
}

.feature{
    background-color: aliceblue;
    padding: 3%;
}
.feature-text{
    /* display: inline-block; */
}
