<body>
  <div class="start-cover-about">
    <div class="container px-5">
      <div class="center-vertical text-align-center align-items-center">
        <h1 class="text-light">
          Geosystem - это...
        </h1>
        <p class="text-light h5">
          Компания, занимающаяся сбором геопространственной информации о состоянии дорожного полотна
          с помощью различных источников и автоматической обработкой собранных данных с применением 
          новейших технологий 
        </p>
      </div>
    </div>
  </div>
  
  <section class="benefits p-5">
    <h1 class="text-center pb-5">Наши преимущества</h1>
    <div class="container h-100">
      <div class="row justify-content-around text-start fs-5">
        <div class="col-5 d-flex mb-4">
          <p>
            <img src="../../assets/icons/автоматизация.png" alt=" - "
            class="benefits-icon me-3">
          </p>
          <p>Полная автоматизация камеральной обработки</p>
        </div>
        <div class="col-5 d-flex mb-4">
          <p>
            <img src="../../assets/icons/выгода.png" alt=" - "
            class="benefits-icon me-3">
          </p>
          <p>Низкие затраты на эксплуатацию комплекса</p>
        </div>
        <div class="col-5 d-flex mb-4">
          <p>
            <img src="../../assets/icons/актуальность.png" alt=" - "
            class="benefits-icon me-3">
          </p>
          <p>Получение актуальной информации о состоянии дорожного полотна</p>
        </div>
        <div class="col-5 d-flex mb-4">
          <p>
            <img src="../../assets/icons/технологичность.png" alt=" - "
            class="benefits-icon me-3">
          </p>
          <p>Получение точной, удобной и 
            достоверной информации благодаря использованию 
            современных датчиков и нейронной сети</p>
        </div>
      </div>
    </div>
  </section>
    
  <section class="project-stage p-3">
    <div class="container">
      <h2 class="text-center text-white">На какой стадии проект?</h2>
      <p class="fs-4 text-white text-center"> Проект находится на стадии разработки</p>
      <div class="row my-3 justify-content-center">
          <div class="col text-light text-center">
            <a 
            type="button"
            class="btn btn-light" 
            href="../../assets/documents/Geosystem.pdf" 
            download="Geosystem.pdf">Скачать презентацию</a>
          </div>
          <div class="col text-light text-center">
            <a 
            type="button"
            class="btn btn-light" 
            href="../../assets/documents/Geosystem article.pdf" 
            download="Geosystem article.pdf">Скачать статью</a>
          </div>
      </div>
    </div>
  </section>
</body>
