  <body>
    <div class="start-cover-about">
        <div class="container">
          <div class="row align-items-center">
            <div class="center-vertical text-align-center align-items-center">
              <h1 class="text-light">
                Geosystem - это...
              </h1>
              <p class="text-light h5">
                Компания, занимающаяся сбором геопространственной информации о состоянии дорожного полотна
                с помощью различных источников и автоматической обработкой собранных данных с применением 
                новейших технологий 
              </p>
            </div>
          </div>
        </div>
      </div>
    
    <section class="benefits p-5">
      <h1 class="text-center pb-5">Наши преимущества</h1>
      <div class="container h-100 d-flex align-items-center">
        <div class="row w-100 text-center fs-5">
          <div class="col mb-3">
            <i class = "bi bi-tools">
              Полная автоматизация камеральной обработки
            </i>
          </div>
          <div class="col mb-3">
            <i class = "bi bi-airplane-fill">
              Низкие затраты на эксплуатацию комплекса
            </i>
          </div>
          <div class="w-100"></div>
          <div class="col">
            <i class = "bi bi-phone-fill">
              Получение актуальной информации о состоянии дорожного полотна
            </i>
          </div>
          <div class="col">
            <i class = "bi bi-phone-fill">
              Получение точной, удобной и достоверной информации благодаря 
              использованию современных датчиков и нейронной сети
            </i>
          </div>
        </div>
      </div>
    </section>
      
    <section class="project-stage p-3">
      <div class="container">
        <h2 class="text-center text-white my-3">На какой стадии проект?</h2>
        <p class="fs-4 text-white text-center my-3"> Проект находится на стадии разработки</p>
        <div class="row my-3 text-center">
            <div class="col me-auto text-light">
              <button 
              class="btn btn-light ms-auto" 
              href="../../assets/documents/Geosystem.pdf" 
              download="Geosystem.pdf">Скачать презентацию</button>
            </div>
            <div class="col ms-auto text-light">
              <button 
              class="btn btn-light ms-auto" 
              href="../../assets/documents/Geosystem article.pdf" 
              download="Geosystem article.pdf">Скачать статью</button>
            </div>
        </div>
      </div>
    </section>
  </body>
