:root{
    --color1: #5d5c61;
    --color2: #918F92;
    --color3: #7395ae;
    --color4: #557a95;
    --color5: #4F709C;
}
.benefits{
    background-color: white;
}
.project-stage{
    background-color: #4F709C;
}
.start-cover-about{
    background: 
        linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url("../../assets/pictures/buildiing3.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    
    min-height: 720px;
    display: flex;
    align-items: center;
    text-align: center;
}
.benefits-icon{
    width: 50px;
    height: 50px;
}

@media (max-width: 1024px) {
    .benefits .container .row .col-5{
        width: 100%;
    }
}
@media (max-width: 768px) {

}
