
.content{
    height: 100%;
    width: 100%;
}
.navbar{
    border-bottom: 1px solid ;
}
.container-fluid{
    width: 100%;
    margin-left: 3%;
    margin-right: 3%;
}
a{
    text-decoration: none;
    color: black;
}
a:hover{
    color: rgb(65, 47, 33);
}
.navbar ul{
    margin-left: 2%;
}
.dropdown-menu{
    background-color: rgb(233, 233, 233);
    min-width: 300px;
    max-width: 500px;
}
.dropdown-menu li{
    padding: 4%;
    border-bottom: 1px solid;
}

@media (max-width: 768px) {
    .container-fluid{
        margin-left: 0%;
        margin-right: 0%;
    }
    .nav-item{
        margin-top: 2%;
    }
    .sidebar{
        width: 50%;
        background-color: rgba(255,255,255,0.7);
        backdrop-filter: blur(10px);
    }
    .navbar-nav button{
        width: 100%;
        margin-bottom: 2%;
    }
    .dropdown-menu{
        min-width: 0px;
    }
}

/* #footer{
    border-top: 1px solid;
    background-color: rgb(220, 220, 220);
    width: 100%;
} */

