<head>
    <script
        src="https://kit.fontawesome.com/d61dc76de9.js"
        crossorigin="anonymous"
      ></script>
      <link
        rel="stylesheet"
        type="text/css"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
      />
</head>

<body>
  <header [ngClass]="{body: false}">
    <nav class="navbar navbar-expand-md bg-light">
      <div class="container-fluid">
        <a href="#" class="navbar-brand mb-lg-0">
          <img
            width="60px"
            height="50px"
            class="d-inline-block align-center"
            src="../assets/pictures/logo.png"
            alt="logo"
          />
          <span><strong>Geosystem</strong></span>
        </a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="offcanvas"
          data-bs-target="#offcanvasNav"
          aria-controls="offcanvasNav"
          aria-label="Toggle navigation"
        ><span class="navbar-toggler-icon"></span></button>
        <div class="sidebar offcanvas offcanvas-end" id="offcanvasNav">
          <div class="offcanvas-header">
            <button 
              type="button"
              class="btn-close"
              data-bs-dismiss="offcanvas"
              aria-label="Close">
            </button>
          </div>
          <div class="offcanvas-body align-items-center">
            <ul class="navbar-nav me-auto mb-2">
              <li class="nav-item">
                <a routerLink="" class="nav-link active">Главная</a>
              </li>
              <li class="nav-item">
                <a routerLink="/about" class="nav-link active">О нас</a>
              </li>
              <li class="nav-item dropdown">
                <a
                  class="nav-link active dropdown-toggle"
                  href="#"
                  role="button"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                ><strong>Проекты</strong>
                </a>
                <ul class="dropdown-menu m-0">
                  <li><a routerLink="/projects/complex">Программно-аппаратный комплекс</a></li>
                  <li><a routerLink="projects/webapp">Веб-приложение</a></li>
                </ul>
              </li>
              <li class="nav-item">
                <a href="#footer" class="nav-link active">Контакты</a>
              </li>
            </ul>
            <div *ngIf="authenticated(); else notAuth">
              <a routerLink="profile" class="nav-item nav-link active mb-lg-0">
                <span><strong>Личный кабинет</strong></span>
                <img
                class="nav-item ms-2"
                width="45px"
                height="45px"
                src="../assets/pictures/icon_auth.png"
                />
              </a>
            </div>
            <ng-template #notAuth>
              <ul class="navbar-nav mb-2">
                <li class="nav-item">
                  <button 
                  style="display: none;"
                  routerLink="/login" 
                  type="button" 
                  class="btn btn-outline-primary me-3">Вход</button>
                </li>
                <li class="nav-item">
                  <button 
                  style="display: none;"
                  routerLink="/register" 
                  type="button" 
                  class="btn btn-outline-primary">Регистрация</button>
                </li>
              </ul>
            </ng-template>
          </div>
        </div>
      </div>
    </nav>
  </header>

  <div><router-outlet></router-outlet></div>

  <footer id="footer" class="pt-5 pb-4">
    <div class="container text-center text-md-left">
      <div class="row text-center text-md-left">
        <div class="mx-auto">
          <h5 class="text-uppercase mb-4 font-weight-bold text-purple">
            Связаться с нами
          </h5>
          <p>
            <i class="fa fa-home mr-3"></i
            ><strong> Saint Petersburg, RU</strong>
          </p>
          <p>
            <i class="fa fa-envelope mx-1"></i>
            <a href="mailto: lnpt@guap.ru"
              ><strong>lnpt@guap.ru</strong></a
            >
          </p>
          <a href="https://t.me/SergeyBabchinetskii"><strong>Telegram</strong></a>
        </div>

        <hr class="my-4"/>

        <div class="row allign-items-center">
          <div class="text-center">
            <p>
              Designed by:
              <a href="https://vk.com/id287810623">
                <strong class="text-purple"> Daniil Minakov</strong>
              </a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </footer>
</body>
